.detail-wrapper {
	min-height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #FAFAFA;
}
.detail-header {
	height: 250px;
	padding-top: 25px;
	position: relative;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	box-sizing: border-box;
	background: #22cdcb url(http://jhsy-img.caizhu.com/daka/Frk8EjrzHMz_5SQ4jGGPzmEZTU6m.png) no-repeat;
	background-size: 100%;

	& strong {
		display: block;
		margin: 10px 0 6px;
		font-size: 50px;
		font-weight: bold;
	}
}
.detail-avatar-list {
	margin-top: 10px;
	font-size: 0;

	& img {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 1px solid #FFF;
	}
}
.invite-btn {
	width: 95px;
	height: 45px;
	position: absolute;
	right: 0;
	bottom: 25px;
	background: url(~@/images/invite.png) no-repeat;
	background-size: 100%;
}

.daka-btn {
	width: 90%;
	margin: 25px auto 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 55px;
	background-color: #22CDCB;
}
.detail-intro {
	width: 66%;
	margin: 20px auto;
	color: #AAA;
	font-size: 14px;
	line-height: 1.5;

	& p {
		word-wrap: break-word;
	}

	& .btn {
		margin-top: 15px;
		color: #22CDCB;
	}
}

.join-btn {
	width: 100%;
	position: fixed;
	bottom: 0;
	color: #22CDCB;
	font-size: 16px;
	font-weight: bold;
	line-height: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	background-color: #FFF;
}

.go-home {
	width: 55px;
	height: 55px;
	position: fixed;
	right: 19px;
	bottom: 15%;
	border-radius: 50%;
	box-shadow: 0 2px 10px -2px #22CDCB;
	background: #22CDCB url(~@/images/home-icon.png) center no-repeat;
	background-size: 50%;
}

.detail-header-complete {
	padding: 35px 16px 0;
	margin-bottom: 35px;
	position: relative;

	& .invite-btn {
		right: 0px;
		bottom: -16px;
	}
}
.detail-header-book {
	display: flex;
	align-items: center;
	padding: 20px;
	overflow: hidden;
	position: relative;
	color: #333;
	font-size: 15px;
	border-radius: 5px;
	background-color: #FFF;

	& img {
		flex-shrink: 0;
		width: 90px;
		height: 120px;
		margin-right: 29px;
		border-radius: 5px;
	}

	& h3 {
		margin-bottom: 20px;
		font-size: 16px;
	}

	& .tips {
		width: 100px;
		position: absolute;
		top: 10px;
		right: -25px;
		color: #FFF;
		text-align: center;
		font-size: 10px;
		line-height: 20px;
		background-color: #22CDCB;
		transform: rotate(45deg);
	}
}

.post-comment-btn {
	width: 56px;
	height: 56px;
	position: fixed;
	right: 17px;
	bottom: 30%;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(46, 217, 208, .2);
	background: #22CDCB url(~@/images/post-comment.png) center no-repeat;
	background-size: 22px 23px;
}
.new-messages {
	display: flex;
	align-items: center;
	max-width: 170px;
	height: 40px;
	padding: 5px 13px;
	margin: 25px auto 0;
	color: #FFF;
	font-size: 13px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: rgba(51,51,51,0.30);

	& img {
		width: 30px;
		height: 30px;
		margin-right: 12px;
		border-radius: 5px;
	}
}
.detail-tab {
	display: flex;
	margin: 33px 18px 23px;
	color: #CCC;
	font-size: 18px;
}
.detail-tab-item {
	margin-right: 20px;
	font-weight: bold;
}
.detail-tab-item.selected {
	color: #333;
}
.experience-list {
	margin: 0 18px;
}

.resume-add-content-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 18px 35px;
	color: #22CDCB;
	font-size: 15px;
	line-height: 50px;
	border-radius: 5px;
	background-color: #FFF;
}
.add-icon {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	position: relative;
	border-radius: 50%;
	background-color: #22CDCB;

	&::before, &::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #FFF;
		transform: translate(-50%, -50%);
	}

	&::before {
		width: 55%;
		height: 2px;
	}

	&::after {
		width: 2px;
		height: 55%;
	}
}
.syllabus-item {
	margin: 0 18px 35px;
}
.syllabus-content {
	display: flex;
	margin-bottom: 25px;
	color: #AAA;
	font-size: 15px;

	& img {
		flex-shrink: 0;
		width: 90px;
		height: 120px;
		margin-right: 27px;
		border-radius: 5px;
	}

	& h2 {
		color: #333;
		font-size: 16px;
	}
}
.syllabus-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.syllabus-chapter {
	margin-top: 15px;
	color: #333;
	font-size: 16px;
}
.syllabus-chapter.actived {
	color: #AAA;
	background: url(~@/images/lock.png) center right no-repeat;
	background-size: 12px;
}