.discover-wrapper {
	min-height: 100vh;
	background-color: #FAFAFA;
}

.tag-list {
	padding: 20px 15px;
	font-size: 0;

	& li {
		display: inline-block;
		width: 100px;
		margin-right: 20px;
		color: #333;
		font-size: 16px;
		text-align: center;
		line-height: 35px;
		border-radius: 3px;
		background-color: #FFF;
	}

	& li:nth-child(3n) {
		margin-right: 0;
	}

	& li:nth-child(n+4) {
		margin-top: 15px;
	}

	& .selected {
		color: #22CDCB;
	}
}

.daka-list {
	margin: 0 20px;
	overflow: hidden;
}