.invite-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-color: #FAFAFA;
}
.invite-content {
	flex: 1;
	padding: 0 18px;

	& img {
		width: 100%;
		height: calc(100vh - 80px);
	}
}

.invite-user-info {
	margin-top: 70px;
	color: #333;
	text-align: center;
	font-size: 14px;

	& .avatar {
		width: 59px;
		height: 59px;
		margin: 0 auto;
	}

	& span {
		display: block;
		margin: 15px 0 10px;
		font-size: 16px;
		font-weight: bold;
	}
}
.invite-desc {
	width: 175px;
	padding: 17px 0;
	margin: 60px auto 0;
	color: #22CDCB;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.7;
	border-top: 1px solid currentcolor;
	border-bottom: 1px solid currentcolor;
}
.invite-qr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 205px;
	position: absolute;
	left: 50%;
	bottom: 65px;
	color: #333;
	font-size: 14px;
	line-height: 1.7;
	transform: translateX(-50%);

	& img {
		flex-shrink: 0;
		width: 80px;
		height: 80px;
		margin-right: 17px;
	}
}

.save-btn {
	color: #22CDCB;
	font-size: 16px;
	font-weight: bold;
	line-height: 60px;
	box-shadow: 0 0 10px rgba(46, 217, 208, .2);
	background-color: #FFF;
}